[submodule "dependencies/ImGui"]
	path = dependencies/ImGui
	url = https://github.com/ocornut/imgui.git
[submodule "dependencies/GlMathematics"]
	path = dependencies/GlMathematics
	url = https://github.com/g-truc/glm
