[submodule "dependencies/ImGui"]
	path = dependencies/ImGui
	url = https://github.com/Carjana/imgui.git
[submodule "dependencies/GlMathematics"]
	path = dependencies/GlMathematics
	url = https://github.com/g-truc/glm
[submodule "dependencies/SDL"]
	path = dependencies/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "dependencies/SDL_shadercross"]
	path = dependencies/SDL_shadercross
	url = https://github.com/libsdl-org/SDL_shadercross.git
